<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">
    <title>Bitrelay</title>
  </head>
  <body>
    <div id="app">
      <div class="" v-if="loading">
        Loading ...
      </div>
      <div class="">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">From</th>
              <th scope="col">Content</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in messages">
              <td>{{ formatTimestamp(item.timestamp) }}</td>
              <td>{{ item.sender }}</td>
              <td>{{ item.content }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/timeago.js@4.0.0-beta.2/dist/timeago.min.js" integrity="sha256-yUmXY9C8hRTwEO76qiJepCcZ82pw4S1bZftvGpFPbtI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.min.js" integrity="sha256-pfXWzm1MRINMGCDZtp94lO2+OYNFFiQ4oZihf5+FapQ=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        loading: true,
        messages: []
      },
      mounted: function() {
        this.loadMessages();
      },
      methods: {
        loadMessages: function() {
          this.loading = true;
          axios.get('/api/sms')
            .then(resp => {
              this.loading = false;
              this.messages = resp.data;
            })
        },
        formatTimestamp: function(timestamp) {
          return timeago.format(timestamp);
        }
      }
    })
  </script>
</html>
